/* Variables */
:root {
  --tg-theme-bg-color: #000000;
  --tg-theme-text-color: #ffffff;
  --tg-theme-link-color: #666666;
  --tg-theme-button-color: #ffc20a;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-secondary-bg-color: #0c7bdc;
}
